<%- include('partials/head') -%> <%- include('partials/header') -%>
<div class="profile-greeting">
  <h1>Profile</h1>
  <p>Hi <%= user.userName %>!</p>
  <a href="/logout">Logout</a>
  <a href="/feed">Feed</a>
</div>

<div class="contain">
  <%- include('partials/pizzaGrid') %>
</div>
<%- include('partials/gridFooter') -%>
