<%- include('partials/header') -%>
<div> 
  <h1>Profile</h1>
  <p>User: <%= user.userName %></p>
  <p>Email: <%= user.email %></p>
  <a href="/logout">Logout</a>
</div>

<div>
  <h2>Post a Pizza Pic</h2>
  <!-- form for a new post - have never used enctype before - something else cool to research -->
  <form action="/post/create-post" enctype="multipart/form-data" method="POST">
    <label for="post-title">
      Pizza Title
    </label>
      <input type="text" name="title" id="post-title"/>
    <label for="post-caption">
      Pizza Caption
    </label>
      <textarea name="caption" id="" cols="30" rows="10" id="post-caption"> </textarea>
    <label  for="file">
      Pizza Pic
      <!-- file input -->
      <input type="file" name="file" id="file" />
    </label>
    <button>Post Pic</button>
  </form>
</div>
<!-- simple loop to show user's images  -->
<div>

<% posts.forEach(post => { %>
<img src="<%= post.image %> " alt="<%= post.title %> "> 
<% }) %> 

<!-- if the user hasn't posted anything then yell at them -->
<% if(posts.length < 1) { %>  
<p>you haven't posted anything yet!</p>
<% } %> 
</div>
<%- include('partials/footer') -%>
