<%- include('partials/head') -%> <%- include('partials/header') -%>
<div class="contain-profile">
<div class="profile-greeting">

  <h2>Hi <%= user.userName %>!</h2>
  <div class="profile-image"></div>
</div>


  <div class="form-container">
    <h2>Post a Pizza Pic</h2>
    <!-- form for a new post - have never used enctype before - something else cool to research -->
    <form
      action="/post/create-post"
      enctype="multipart/form-data"
      method="POST"
      id="new-post-form"
    >
      <label for="post-title"> Pizza Title </label>
      <input type="text" name="title" id="post-title" />
      <label for="post-caption"> Pizza Caption </label>
      <textarea name="caption" id="" cols="30" rows="10" id="post-caption">
      </textarea>
      <label for="file">
        Pizza Pic
        <!-- file input -->
        <input type="file" name="file" id="file" />
      </label>
      <button>Post Pic</button>
    </form>
  </div>
  </div>
  <div class="grid-contain">
  <%- include('partials/pizzaGrid') %>
</div>
<%- include('partials/footer') -%>
